#
# information of interface #0
#
Interface = LINK0
  SendAdvertisements=1
  MAXINTERVAL
  MININTERVAL
  ManagedFlag=0
  OtherConfigFlag=0
  MTU
  RTIME
  RETRANS
  CHLIM
  RLTIME
  Prefix = 3ffe:501:ffff:100::
    Len = 64
    VLTIME
    OnLinkFlag = 1
    PLTIME
    autonomousFlag=1
    ValidLifetimeMode=0
    PreferredLifetimeMode=0

#
# information of interface #1
#
Interface = LINK1
  SendAdvertisements=1
  MAXINTERVAL
  MININTERVAL
  ManagedFlag=0
  OtherConfigFlag=0
  MTU
  RTIME
  RETRANS
  CHLIM
  RLTIME
  Prefix = 3ffe:501:ffff:101::
    Len = 64
    VLTIME
    OnLinkFlag = 1
    PLTIME
    autonomousFlag=1
    ValidLifetimeMode=0
    PreferredLifetimeMode=0
