interface LINK0 { 
	ADVSEND0;
	MAXINTERVAL;
	MININTERVAL;
	MANFLAG;
	OTHCONFFLAG;
	MTU;
	RTIME;
	RETRANS;
	CHLIM;
	RLTIME;
	prefix 3ffe:501:ffff:100::/64 {
		ONLINKFLAG;
		AUTOFLAG;
		VLTIME;
		PLTIME;
	};
};

interface LINK1 {
	ADVSEND1;
	MAXINTERVAL;
	MININTERVAL;
	MANFLAG;
	OTHCONFFLAG;
	MTU;
	RTIME;
	RETRANS;
	CHLIM;
	RLTIME;
	prefix 3ffe:501:ffff:101::/64 {
		ONLINKFLAG;
		AUTOFLAG;
		VLTIME;
		PLTIME;
	};
};
