default:\
	:MAXINTERVAL:MININTERVAL:\
	:CHLIM:RAFLAGS:RLTIME:RTIME:RETRANS:\
	:PINFOFLAGS:VLTIME:PLTIME:MTU:\
	:VLTIME:PLTIME:HAPREF:HATIME:
ether:\
	:MTU:tc=default:
LINK0:\
	:addrs#1:HOMEADDR:prefixlen#64:tc=ether:
